<div fxLayout="row" fxLayoutGap="20px">
  <div fxFlex="70%">

    <ng-container *ngIf="records$ | async; let records; else loading">

    <div fxLayout="row wrap" fxLayoutGap="10px">
        <mat-card fxFlex="32%" *ngFor="let record of records; let i = index">
            <mat-card-header>
                <mat-card-title>{{ 'records.record' | translate }} {{i + 1}}</mat-card-title>
                <mat-card-subtitle>{{record.recordId.timestamp | date:'medium'}} </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p matLine>{{record.recordId.hash}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button
                mat-icon-button
                (click)="onViewRecord(record)"
                matTooltip="{{ 'common.preview' | translate }}">
                  <i class="material-icons">remove_red_eye</i>
                </button>
                <button
                mat-icon-button
                (click)="onViewPrint(record)"
                matTooltip="{{ 'common.print' | translate }}">
                  <i class="material-icons">print</i>
                </button>
                <button
                mat-icon-button
                (click)="onRequest(record.recordId._id)"
                matTooltip="Request Permissions">
                  <i class="material-icons">lock</i>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    </ng-container>
    <ng-template #loading>
      <p >{{ 'common.loading' | translate:{'s': 'record'} }}</p>
    </ng-template>

  </div>
  <div fxFlex="30%" id="right-blocks">

    <ng-container *ngIf="physicians$ | async; let physicians; else loadingPhysicians">
      <!-- <button mat-flat-button color="primary" (click)="onRequest()" id="request-btn" *ngIf="!userData?.isOwned">Request Permissions</button> -->
      <br/>
      <mat-card class="physicians-card">
        <mat-card-header>
          <mat-card-title>Physicians</mat-card-title>
          <mat-card-subtitle>({{(physicians$ | async)?.length}}) physicians connected</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <app-physician *ngFor="let physician of physicians" [physician]="physician.userId"></app-physician>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-template #loadingPhysicians>
      <p >{{ 'common.loading' | translate:{'s': 'record'} }}</p>
    </ng-template>
  </div>
</div>


<button mat-fab color="primary" matTooltip="{{ 'common.create' | translate }}" (click)="onCreate()" id="create-new"><mat-icon>add</mat-icon></button>
