<mat-toolbar color="primary">
  <button mat-icon-button (click)="onToggleSideBar()">
    <mat-icon>menu</mat-icon>
</button>
  <span>Clinicplus</span>
  <span class="spacer"></span>

  <button mat-icon-button class="" aria-label="icon-button with notification icon" matTooltip="Notifications">
    <mat-icon>notifications_none</mat-icon>
  </button>
  <button mat-icon-button class="" aria-label="icon-button with help icon" matTooltip="Help">
   <mat-icon>help_outline</mat-icon>
 </button>
 <button mat-icon-button class="" aria-label="icon-button with settings icon" matTooltip="Setting">
  <mat-icon>settings</mat-icon>
</button>
<button mat-icon-button class="" aria-label="icon-button with exit_to_app icon" matTooltip="Logout" (click)="onLogout()">
  <mat-icon>exit_to_app</mat-icon>
</button>

 </mat-toolbar>
